<main class="form-signin text-lg-center">
    <form class="px-3 " style="background-color:white;">
        <input type="email" id="inputEmail" class="form-control" placeholder="E-posta veya Telefon Numarası" required
            autofocus>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Şifre" required>
        <button routerLink="/login" class="w-100 btn btn-lg btn-primary mt-3" type="submit">Giriş Yap</button>
        <label class="mt-3">
            <a routerLink="/password">Şifreni mi Unuttun?</a>
        </label>
        <hr>
        <button routerLink="/create" class="btn btn-lg btn-success" type="submit">Yeni Hesap Oluştur</button>

    </form>
    <p class="mt-4">Ünlü biri, müzik grubu veya şirket için <a class="pages" routerLink="/pages"><b>Sayfa oluştur.</b></a>
    </p>
</main>
